In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from pandas import Series,DataFrame
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix

In [6]:
data=pd.read_csv('diabetes.csv')

In [7]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [22]:
data['income']=data['Outcome'].apply(lambda y: 'yes' if y==0 else 'no')

In [23]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,income
0,6,148,72,35,0,33.6,0.627,50,1,no
1,1,85,66,29,0,26.6,0.351,31,0,yes
2,8,183,64,0,0,23.3,0.672,32,1,no
3,1,89,66,23,94,28.1,0.167,21,0,yes
4,0,137,40,35,168,43.1,2.288,33,1,no

In [25]:
# X=data.drop(['Outcome','income'], axis=1)
x=data.drop(columns=["Outcome","income"])

In [26]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [27]:
y=data['income']

In [28]:
x.shape, y.shape

((768, 8), (768,))

In [31]:
X_train,X_test,y_train,y_test=train_test_split(x,y, test_size= 0.3,random_state=124)

In [32]:
print(X_train.shape,X_test.shape)

(537, 8) (231, 8)

In [33]:
print(y_train.shape,y_test.shape)

(537,) (231,)

In [34]:
model=DecisionTreeClassifier()

In [35]:
dt=model.fit(X_train,y_train)

In [36]:
prediction=model.predict(X_test)

In [37]:
print(confusion_matrix(y_test,prediction))

[[ 51  33]
 [ 30 117]]

##### Do the classification report

In [38]:
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

          no       0.63      0.61      0.62        84
         yes       0.78      0.80      0.79       147

    accuracy                           0.73       231
   macro avg       0.70      0.70      0.70       231
weighted avg       0.73      0.73      0.73       231

In [39]:
rf_model = RandomForestClassifier(n_estimators=150)

In [40]:
rf_model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=150,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [41]:
rf_prediction=rf_model.predict(X_test)

In [44]:
print(classification_report(y_test,rf_prediction))

              precision    recall  f1-score   support

          no       0.72      0.61      0.66        84
         yes       0.79      0.86      0.83       147

    accuracy                           0.77       231
   macro avg       0.76      0.74      0.74       231
weighted avg       0.77      0.77      0.77       231

In [48]:




                                                goobye by muchira junior